.zcompdump-flareon-5.3.1
.config/google-chrome
.cache
.local/share
downloads
music
documents
vim-ide
.zsh_history
.pki
.vimin*
.config/mopidy
.vim
.gnome/apps
.mozilla/*
.config/Foxit \Software
.config/codeblocks/*
.config/pulse/*
.wget-hsts
screnshots
