.zcompdump-flareon-5.3.1
.config/sublime-text-3
.cache
.local/share
downloads
music
documents
vim-ide
.zsh_history
.pki
.vimin*
.config/mopidy
.vim
.gnome/apps
.mozilla/*
.config/Foxit \Software
.config/codeblocks/*
.config/pulse/*
.wget-hsts
screenshots
.android
.config/ranger
devices
.config/dconf
video
.config/transmission-daemon
pictures
.config/vlc
.gimp-2.8
.thumbnails
