* {
  background-color: #000;
  color: #fff;
  font-family: GohuFont, Terminus, monospace;
  font-size: 10px;
}

.main {
  border: 1px solid #fff;
  height: 200px;
  width: 450px;
}

.search-box {
  height: 18px;
  margin: auto;
  position: absolute;
  top: -30px;
  width: 450px;
}

.center {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.box-label {
  left: 8px;
  padding: 0 4px;
  position: absolute;
  top: -8px;
}

.input {
  border: 1px solid #fff;
  text-align: center;
  width: 100%;
}

.links {
  padding: 10px;
}

.reddit {
  padding: 10px 0;
}
