#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=C.H.I.P. Flasher
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=bpohdfcdfghdcgflomadkijfdgalcgoi
Icon=chrome-bpohdfcdfghdcgflomadkijfdgalcgoi-Default
StartupWMClass=crx_bpohdfcdfghdcgflomadkijfdgalcgoi
OnlyShowIn=Old;
