#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=C.H.I.P. Flasher
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=bpohdfcdfghdcgflomadkijfdgalcgoi
Icon=chrome-bpohdfcdfghdcgflomadkijfdgalcgoi-Profile_1
StartupWMClass=crx_bpohdfcdfghdcgflomadkijfdgalcgoi
OnlyShowIn=Old;
